.bg-custom{
    background-color: #f9ca24;
}
.scrollCustom{
    position: relative;
    overflow: auto;
    height: 180px;
}
.btn-outline-danger {
    color: #E1306C;
}
.list-group-item-info{
    color: gray;
}